{
    "openapi": "3.0.1",
    "info": {
        "title": "REST API",
        "description": "Everything you need to connect to an external eCommerce platform or other third party products requiring a two way integration. Can be used in combination with the oData API.\n\nApi supports authentication using Apikey, which is can be created in the Front Systems portal under Admin|Integration users.",
        "version": "V2"
    },
    "servers": [
        {
            "url": "https://frontsystemsapis.frontsystems.no/restapi/V2"
        }
    ],
    "paths": {
        "/api/Bonus": {
            "post": {
                "tags": [
                    "Bonus"
                ],
                "summary": "InsertBonusTransaction",
                "description": "Inserts a new bonus transaction for a customer. Bonustransaction can be both postive (earn bonus) and negative (use bonus)",
                "operationId": "InsertBonusTransaction",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerBonusTransaction"
                            },
                            "example": {
                                "customerId": 0,
                                "amount": 0,
                                "comment": "string",
                                "saleId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Customer": {
            "put": {
                "tags": [
                    "Customer"
                ],
                "summary": "UpsertCustomer",
                "description": "This API endpoint is designed to either create a new customer record or update an existing one based on a unique identifier. The hierarchy of the unique identifier used is as follows:\n\n1. Customer ID: If a Customer ID is provided, it will be used as the primary unique identifier to either create a new customer or update an existing one.\n\n2. ExtID (External customer ID): In the absence of a Customer ID, the API will use the ExtID as the unique identifier.\n\n3. Phone Number: If neither a Customer ID nor an ExtID is provided, the customer's phone number will be used to identify the customer record.\n\n4. Email: If none of the above identifiers are available, the customer's email address will be used as the last resort for identifying the customer record.\n\nIn the case of an update, if a match is found based on the provided identifier, the corresponding customer's record will be updated with the new data. If no match is found, a new customer record will be created.",
                "operationId": "Upsert",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "if key field is included in the body, this will be used to look up existing customer to update, Key fields sorted by priority: 1) customerid (Front Systems internal customer ID)  -   2) extid (External customer ID)   -  3) email   -  4) phone",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customer"
                            },
                            "example": {
                                "customerid": 456,
                                "companyid_fk": 789,
                                "isCompany": false,
                                "companyName": "Acme Corp",
                                "orgNum": "123456789",
                                "firstName": "John",
                                "lastName": "Doe",
                                "email": "john.doe@example.com",
                                "phone": "+1234567890",
                                "phoneCountryPrefix": "+1",
                                "address": "123 Main St",
                                "postalCode": "12345",
                                "city": "Metropolis",
                                "countryFk": 1,
                                "langCode": "en",
                                "password": "password123",
                                "pin": "1234",
                                "ins": "2023-01-01T12:00:00.0000000+00:00",
                                "picture": "iVBORw0KGgoAAAANSUhEUgAAAAUA",
                                "despcription": "Regular customer",
                                "message": "Welcome to Acme Corp!",
                                "stdDiscount": 10.5,
                                "altPersonId": "ALT123",
                                "isActive": true,
                                "deleted": false,
                                "isGlobal": true,
                                "agreedSendEmail": true,
                                "agreedSendSms": false,
                                "tags": "VIP,Newsletter",
                                "birthYear": 1980,
                                "birthDay": "1980-01-01T12:00:00.0000000+00:00",
                                "gender": "male",
                                "isInvoice": false,
                                "extId": "EXT123",
                                "cardNo": "CARD123",
                                "upt": "2023-01-01T12:00:00.0000000+00:00",
                                "uptBy": 1,
                                "insBy": 1,
                                "suppressCampaigns": false,
                                "bonusBalance": 100,
                                "bonusTotal": 200,
                                "bonusFactor": 1.5,
                                "isEmployee": false,
                                "saleBonusFactor": 2,
                                "registeredStoreId": 1,
                                "extProperties": "{}",
                                "gdprUpdated": "2023-01-01T12:00:00.0000000+00:00",
                                "countryCode": "US",
                                "promotionsOffers": [
                                    {
                                        "id": 123,
                                        "name": "Acme Summer Sale",
                                        "couponCode": "SUMMER2023",
                                        "description": "Get 20% off on all Acme products during the summer sale.",
                                        "picture": "https://example.com/images/summer-sale.png",
                                        "expires": "2023-08-31T11:59:59.0000000+00:00",
                                        "redeemed": "2023-07-15T12:34:56.0000000+00:00"
                                    }
                                ],
                                "id": "550e8400-e29b-41d4-a716-446655440000"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCustomerPut200TextJsonResponse"
                                },
                                "example": 0
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "GetCustomers",
                "description": "Get a list of customers. (POST method used to enable advanced filtering in the body of the request.)",
                "operationId": "Get",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerFilter"
                            },
                            "example": {
                                "pageSize": 0,
                                "pageSkip": 0,
                                "upt": "2020-08-24T09:36:42.0000000+00:00",
                                "storeIds": [
                                    0
                                ],
                                "firstNameContains": "string",
                                "lastNameContains": "string",
                                "emailContains": "string",
                                "phoneContains": "string",
                                "postalCodeGreaterThan": "string",
                                "postalCodeLessThan": "string",
                                "companyNameContains": "string",
                                "hasBonus": true,
                                "hasDiscount": true,
                                "isEmployee": true,
                                "isCompany": true,
                                "customerIds": [
                                    0
                                ],
                                "customerExtIds": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerArray"
                                },
                                "example": [
                                    {
                                        "customerid": 456,
                                        "companyid_fk": 789,
                                        "isCompany": false,
                                        "companyName": "Acme Corp",
                                        "orgNum": "123456789",
                                        "firstName": "John",
                                        "lastName": "Doe",
                                        "email": "john.doe@example.com",
                                        "phone": "+1234567890",
                                        "phoneCountryPrefix": "+1",
                                        "address": "123 Main St",
                                        "postalCode": "12345",
                                        "city": "Metropolis",
                                        "countryFk": 1,
                                        "langCode": "en",
                                        "password": "password123",
                                        "pin": "1234",
                                        "ins": "2023-01-01T12:00:00.0000000+00:00",
                                        "picture": "iVBORw0KGgoAAAANSUhEUgAAAAUA",
                                        "despcription": "Regular customer",
                                        "message": "Welcome to Acme Corp!",
                                        "stdDiscount": 10.5,
                                        "altPersonId": "ALT123",
                                        "isActive": true,
                                        "deleted": false,
                                        "isGlobal": true,
                                        "agreedSendEmail": true,
                                        "agreedSendSms": false,
                                        "tags": "VIP,Newsletter",
                                        "birthYear": 1980,
                                        "birthDay": "1980-01-01T12:00:00.0000000+00:00",
                                        "gender": "male",
                                        "isInvoice": false,
                                        "extId": "EXT123",
                                        "cardNo": "CARD123",
                                        "upt": "2023-01-01T12:00:00.0000000+00:00",
                                        "uptBy": 1,
                                        "insBy": 1,
                                        "suppressCampaigns": false,
                                        "bonusBalance": 100,
                                        "bonusTotal": 200,
                                        "bonusFactor": 1.5,
                                        "isEmployee": false,
                                        "saleBonusFactor": 2,
                                        "registeredStoreId": 1,
                                        "extProperties": "{}",
                                        "gdprUpdated": "2023-01-01T12:00:00.0000000+00:00",
                                        "countryCode": "US",
                                        "promotionsOffers": [
                                            {
                                                "id": 123,
                                                "name": "Acme Summer Sale",
                                                "couponCode": "SUMMER2023",
                                                "description": "Get 20% off on all Acme products during the summer sale.",
                                                "picture": "https://example.com/images/summer-sale.png",
                                                "expires": "2023-08-31T11:59:59.0000000+00:00",
                                                "redeemed": "2023-07-15T12:34:56.0000000+00:00"
                                            }
                                        ],
                                        "id": "550e8400-e29b-41d4-a716-446655440000"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/Customer/count": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "CountCustomers",
                "description": "Get the numbers of customers. (POST method used to enable advanced filtering in the body of the request.)",
                "operationId": "Count",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerFilter"
                            },
                            "example": {
                                "pageSize": 0,
                                "pageSkip": 0,
                                "upt": "2020-08-24T09:36:42.0000000+00:00",
                                "storeIds": [
                                    0
                                ],
                                "firstNameContains": "string",
                                "lastNameContains": "string",
                                "emailContains": "string",
                                "phoneContains": "string",
                                "postalCodeGreaterThan": "string",
                                "postalCodeLessThan": "string",
                                "companyNameContains": "string",
                                "hasBonus": true,
                                "hasDiscount": true,
                                "isEmployee": true,
                                "isCompany": true,
                                "customerIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCustomerCountPost200TextJsonResponse"
                                },
                                "example": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Customer/{customerid}": {
            "delete": {
                "tags": [
                    "Customer"
                ],
                "summary": "DeleteCustomer",
                "description": "Delete",
                "operationId": "Delete",
                "parameters": [
                    {
                        "name": "customerid",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Customer/optin/{customerid}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "OptinCustomer",
                "description": "SImple way to update opt-in information for a customer. AgreedSendEmail and AgredSendSms will be set to true when method is called. ",
                "operationId": "Optin",
                "parameters": [
                    {
                        "name": "customerid",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Customer/optout/{customerid}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "OptoutCustomer",
                "description": "SImple way to update opt-in information for a customer. AgreedSendEmail and AgredSendSms will be set to false when method is called.",
                "operationId": "Optout",
                "parameters": [
                    {
                        "name": "customerid",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Environment": {
            "get": {
                "tags": [
                    "Environment"
                ],
                "summary": "GetEnvironment",
                "description": "GetEnvironment",
                "operationId": "GetEnvironment",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Giftcard/{giftcardToken}/balance": {
            "get": {
                "tags": [
                    "Giftcard"
                ],
                "summary": "GetGiftcardBalance",
                "description": "Get current gift card balance",
                "operationId": "GetGiftcardBalance",
                "parameters": [
                    {
                        "name": "giftcardToken",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Giftcard/{giftcardToken}": {
            "post": {
                "tags": [
                    "Giftcard"
                ],
                "summary": "InsertGiftcardTrans",
                "description": "Inserts a new giftcard transaction. If giftcardToken does not exists, a new giftcard will be created.\n\nTo determine what store to register these giftcards from you might need to set header parameter x-storeId to f.ex. storeId of the webshop. ",
                "operationId": "InsertGiftcardTrans",
                "parameters": [
                    {
                        "name": "giftcardToken",
                        "in": "path",
                        "description": "If giftcardToken does not exists, a new giftcard will be created.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-storeId",
                        "in": "header",
                        "description": "Indicates which store the giftcards origin should be registered through. Its significant to ensure that the giftcard can only be used in the same region. ",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebGiftcardTransaction"
                            },
                            "example": {
                                "saleId": 0,
                                "amount": 0,
                                "comment": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Login",
                "description": "[obsolete, Apikey key authentication should be used instead] All other endpoints in the rest api relies on a valid authorization token. This token can be obtained from the login endpoint",
                "operationId": "Login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginModel"
                            },
                            "example": {
                                "userName": "string",
                                "password": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLoginPost200TextJsonResponse"
                                },
                                "example": "string"
                            }
                        }
                    }
                }
            }
        },
        "/api/Pricelist": {
            "get": {
                "tags": [
                    "Pricelist"
                ],
                "summary": "GetPricelists",
                "description": "Get a list of active price lists for a store",
                "operationId": "GetPricelists",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebPricelistArray"
                                },
                                "example": [
                                    {
                                        "pricelistId": 0,
                                        "name": "string",
                                        "productCount": 0,
                                        "lastUpdate": "2020-08-18T07:16:45.0000000+00:00"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Pricelist"
                ],
                "summary": "PostPricelists",
                "description": "This endpoint allows you to update an existing pricelist or create a new one if it does not already exist.",
                "operationId": "PostPricelists",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "In the price details, either productid (Front Systems’ internal identifier at the variant level) or gtin (identifier at the SKU level) can be used. For external integrators, gtin is recommended as productid is typically not available to them. Prices are managed at the product level, and the gtin serves solely as an identifier to match the appropriate product for applying the specified price.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebPricelistDetail"
                            },
                            "example": {
                                "prices": [
                                    {
                                        "productExtId": 0,
                                        "gtin": "string",
                                        "price": 0
                                    }
                                ],
                                "pricelistId": 0,
                                "name": "string",
                                "productCount": 0,
                                "lastUpdate": "2020-08-18T07:15:04.0000000+00:00"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebPricelist"
                                },
                                "example": {
                                    "pricelistId": 0,
                                    "name": "string",
                                    "productCount": 0,
                                    "lastUpdate": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Pricelist/name/{name}": {
            "get": {
                "tags": [
                    "Pricelist"
                ],
                "summary": "GetPricelistByName",
                "description": "Get detailed pricelist info by price list name",
                "operationId": "GetPricelistByName",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebPricelistDetail"
                                },
                                "example": {
                                    "prices": [
                                        {
                                            "productId": 0,
                                            "gtin": "string",
                                            "price": 0
                                        }
                                    ],
                                    "pricelistId": 0,
                                    "name": "string",
                                    "productCount": 0,
                                    "lastUpdate": "2020-08-18T07:19:02.0000000+00:00"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Pricelist/{id}": {
            "get": {
                "tags": [
                    "Pricelist"
                ],
                "summary": "GetPricelistById",
                "description": "Get price list content for a specific price list id",
                "operationId": "GetPricelistById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebPricelistDetail"
                                },
                                "example": {
                                    "prices": [
                                        {
                                            "productId": 0,
                                            "gtin": "string",
                                            "price": 0
                                        }
                                    ],
                                    "pricelistId": 0,
                                    "name": "string",
                                    "productCount": 0,
                                    "lastUpdate": "2020-08-18T07:19:02.0000000+00:00"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Product": {
            "post": {
                "tags": [
                    "Product(read-only)"
                ],
                "summary": "Products",
                "description": "List all product information with or without stock quantities, based on product filter in body of the request. ",
                "operationId": "Products",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Product filter to filter which products to be returned and what to include in the response, eg stock quanties and pricelists prices.\n\nUse paging (pagesize/pageSkip) to avoid too big responses.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductFilter"
                            },
                            "example": {
                                "pageSize": 1000,
                                "pageSkip": 0,
                                "upt": "2019-05-16T06:24:53.0000000+00:00",
                                "isWebAvailable": true,
                                "isDiscontinued": false,
                                "excludeDeleted": false,
                                "includeEmptyGTINs": false,
                                "includeStockQuantity": true,
                                "includeAlternativeIdentifiers": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Product"
                                },
                                "example": [
                                    {
                                        "productid": 0,
                                        "name": "string",
                                        "number": "string",
                                        "variant": "string",
                                        "groupName": "string",
                                        "subgroupName": "string",
                                        "color": "string",
                                        "season": "string",
                                        "brand": "string",
                                        "gender": "string",
                                        "isDiscontinued": false,
                                        "tags": "string",
                                        "price": 0,
                                        "upt": "string",
                                        "description": "string",
                                        "internalDescription": "string",
                                        "isStockProduct": false,
                                        "pictureRef": "string",
                                        "isWebAvailable": false,
                                        "productSizes": [
                                            {
                                                "identity": "string",
                                                "gtin": "string",
                                                "label": "string",
                                                "stockQty": [
                                                    {
                                                        "stockId": 0,
                                                        "qty": 0
                                                    }
                                                ],
                                                "identifiers": [
                                                    {
                                                        "id": "0",
                                                        "type": "none"
                                                    }
                                                ]
                                            }
                                        ],
                                        "images": [
                                            "string"
                                        ],
                                        "cost": 0
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/Product/count": {
            "post": {
                "tags": [
                    "Product(read-only)"
                ],
                "summary": "GetProductCount",
                "description": "Get count of products that match the advanced filter in the body of the request",
                "operationId": "GetProductCount",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductFilter"
                            },
                            "example": {
                                "pageSize": 1000,
                                "pageSkip": 0,
                                "upt": "2019-05-16T06:24:53.0000000+00:00",
                                "isWebAvailable": true,
                                "isDiscontinued": false,
                                "includeEmptyGTINs": false,
                                "includeStockQuantity": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Product/productid/{id}": {
            "get": {
                "tags": [
                    "Product(read-only)"
                ],
                "summary": "GetProductById",
                "description": "GetProductById",
                "operationId": "GetProductById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Product/gtin/{id}": {
            "get": {
                "tags": [
                    "Product(read-only)"
                ],
                "summary": "GetProductByGTIN",
                "description": "GetProductByGTIN",
                "operationId": "GetProductByGTIN",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Product/id/{id}": {
            "get": {
                "tags": [
                    "Product(read-only)"
                ],
                "summary": "GetProductByIdentity",
                "description": "GetProductByIdentity",
                "operationId": "GetProductByIdentity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Product/images/{id}": {
            "get": {
                "tags": [
                    "Product(read-only)"
                ],
                "summary": "GetImagesByProductId",
                "description": "GetImagesByProductId",
                "operationId": "GetImagesByProductId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiProductImagesIdGet200TextJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            }
                        }
                    },
                    "204": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/Product/tags": {
            "get": {
                "tags": [
                    "Product(read-only)"
                ],
                "summary": "GetTags",
                "description": "GetTags",
                "operationId": "GetTags",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiProductTagsGet200TextJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/ProductTransfer": {
            "put": {
                "tags": [
                    "Delivery"
                ],
                "summary": "ProductTransfer",
                "description": "Transfer products/SKUs from one stock to another. Possible to decide if it it should be be auto received or wait for receiver to do the receival.",
                "operationId": "Put",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductMove"
                            },
                            "example": {
                                "extRef": "string",
                                "stockId": 0,
                                "storeId": 0,
                                "toStockId": 0,
                                "orderDate": "2020-08-18T07:22:08.0000000+00:00",
                                "expectedDeliveryDate": "2020-08-18T07:22:08.0000000+00:00",
                                "comment": "string",
                                "insertAsRecevied": true,
                                "productLines": [
                                    {
                                        "identity": "string",
                                        "gtin": "string",
                                        "qty": 0,
                                        "cost": 0,
                                        "sgtin": "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiProductTransferPut200TextJsonResponse"
                                },
                                "example": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/PurchaseOrder": {
            "put": {
                "tags": [
                    "Delivery"
                ],
                "summary": "Delivery",
                "description": "Insert an expected delivery (previously known as purchase order). The delivery must be received in the Deliveries screen in Portal before any stock movements are made.  ",
                "operationId": "PutPurchaseOrder",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "NB: When the value of \"insertAsConfirmed\" is set to true, it indicates that the delivery has been confirmed but requires manual receiving intervention from employees. On the other hand, when the value of \"insertAsConfirmed\" is set to false, it implies that the delivery is a direct transfer, and there is no need for manual receiving by employees.\n\nPlease be aware that the \"cost\" field in the payload pertains to the cost per product, regardless of its sizes, or associated GTINs. Our system supports cost calculation on a per-product basis, rather than accounting for each size/GTIN. ",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PurchaseOrder"
                            },
                            "example": {
                                "RequestId": "ea402179-e36c-4ccb-afff-2a56deff4bb5",
                                "extStockId": "string",
                                "extRef": "string",
                                "stockId": 0,
                                "storeId": 0,
                                "orderDate": "2020-08-18T07:32:31.0000000+00:00",
                                "expectedDeliveryDate": "2020-08-18T07:32:31.0000000+00:00",
                                "comment": "string",
                                "insertAsConfirmed": true,
                                "orderLines": [
                                    {
                                        "gtin": "string",
                                        "qty": 0,
                                        "cost": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiPurchaseOrderPut200TextJsonResponse"
                                },
                                "example": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Sale": {
            "put": {
                "tags": [
                    "Sale"
                ],
                "summary": "PutSale",
                "description": "This is for sending inn sale. The important this here is that the sum of price in sales lines is equal to the sum of amount in payment lines. If a product is discounted use the discounted price in sales lines. The discount rate will be calculated based on the products outprice (full price).\n\nSaleDateTime is expected as CET. ",
                "operationId": "PutSale",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-storeId",
                        "in": "header",
                        "description": "Indicates where the sale is to be registered. Needs to be set if API key is not connected to only one store. ",
                        "schema": {
                            "type": "int"
                        }
                    }
                ],
                "requestBody": {
                    "description": "This is  a minimum sale example: \n{\npublic static async Task<string> NewSale(string baseurl, string token)\n  {\n\n      var client = new HttpClient();\n\n      var sale = new\n      {\n          saleGuid = Guid.NewGuid(),\n          ExtRef = \"MyWebshopSaleId123\",\n          CustomerId = 12345,\n          SaleDateTime = DateTime.Now,\n          SalesLines = new[]\n          {\n               new { identity = \"021807670213\", Text = \"Super pair of pants 32/32\", Price = 1000.00, Qty = 1, Vat = 0.25 },\n               new { identity = \"021740120215\", Text = \"Cool sweater L\", Price = 750.00, Qty = 1, Vat = 0.25 }\n          },\n          PaymentLines = new[]\n          {\n              new { ExtRef = \"ReferenceFromPaymentProvider\", Amount = 1750.0, PaymentType = (int)PaymentTypeEnum.KlarnaKonto, CardType = (int)CardTypeEnum.None}\n          }\n\n      };\n\n      var content =  new StringContent(JsonConvert.SerializeObject(sale));\n      client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(\"Token\", token);\n      content.Headers.ContentType.MediaType = \"application/json\";\n      var response = await client.PutAsync($\"{baseurl}sale\", content);\n      return await response.Content.ReadAsStringAsync();\n\n  }\n}",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Websale"
                            },
                            "example": {
                                "saleGuid": "12345678-abcd-1234-abcd-1234567890ab",
                                "extRef": "ORDER-123456",
                                "customerID": 98765,
                                "saleDateTime": "2022-02-28T05:23:45.0000000+00:00",
                                "isComplete": true,
                                "isVoided": false,
                                "comment": "This is a sale, a return would have negative qty and payment.",
                                "salesLines": [
                                    {
                                        "identity": "7033140044404",
                                        "text": "Red shirt",
                                        "price": 199.99,
                                        "qty": 2,
                                        "stockID": 1234,
                                        "vat": 0.25
                                    },
                                    {
                                        "identity": "7041880188889",
                                        "text": "Blue jeans",
                                        "price": 499.99,
                                        "qty": 1,
                                        "stockID": 5678,
                                        "vat": 0.25
                                    }
                                ],
                                "paymentLines": [
                                    {
                                        "extRef": "Payment-123456",
                                        "currency": "NOK",
                                        "amount": 899.97,
                                        "paymentType": 1,
                                        "cardType": 2,
                                        "responseBody": "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSalePut200TextJsonResponse"
                                },
                                "example": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Sale/freight": {
            "get": {
                "tags": [
                    "Sale"
                ],
                "summary": "GetFreightProductIdentity",
                "description": "GetFreightProductIdentity",
                "operationId": "GetFreightProductIdentity",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSaleFreightGet200TextJsonResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSaleFreightGet200TextJsonResponse"
                                },
                                "example": "string"
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSaleFreightGet200TextJsonResponse"
                                },
                                "example": "string"
                            }
                        }
                    }
                }
            }
        },
        "/api/Stock": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "GetStockQuantity",
                "description": "GetStockQuantity",
                "operationId": "GetStockQuantity",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StockCountFilter"
                            },
                            "example": {
                                "pageSize": 0,
                                "pageSkip": 0,
                                "ins": "2021-03-10T09:40:27.0000000+00:00",
                                "stockIds": [
                                    0
                                ],
                                "suppressZeroes": true,
                                "useGTIN": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StockQuantityArray"
                                },
                                "example": [
                                    {
                                        "id": "string",
                                        "stockId": 0,
                                        "quantity": 0
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/Stock/count": {
            "post": {
                "tags": [
                    "Stock"
                ],
                "summary": "GetStockQuantityCount",
                "description": "GetStockQuantityCount",
                "operationId": "GetStockQuantityCount",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StockCountFilter"
                            },
                            "example": {
                                "pageSize": 0,
                                "pageSkip": 0,
                                "ins": "2021-03-10T09:40:27.0000000+00:00",
                                "stockIds": [
                                    0
                                ],
                                "suppressZeroes": true,
                                "useGTIN": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStockCountPost200TextJsonResponse"
                                },
                                "example": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Stock/product/{id}": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "GetStockQuantityByProductId",
                "description": "GetStockQuantityByProductId",
                "operationId": "GetStockQuantityByProductId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "includeStockReservations",
                        "in": "query",
                        "description": "If true, quantity will take stockreservations into account. Resulting in a quantity being the quantity available for sale. ",
                        "schema": {
                            "enum": [
                                false
                            ],
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StockQuantityArray"
                                },
                                "example": [
                                    {
                                        "id": "string",
                                        "stockId": 0,
                                        "quantity": 0
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/Stock/identity/{id}": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "GetStockQuantityByIdentity",
                "description": "GetStockQuantityByIdentity",
                "operationId": "GetStockQuantityByIdentity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeStockReservations",
                        "in": "query",
                        "description": "If true, quantity will take stockreservations into account. Resulting in a quantity being the quantity available for sale. ",
                        "schema": {
                            "enum": [
                                false
                            ],
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StockQuantityArray"
                                },
                                "example": [
                                    {
                                        "id": "string",
                                        "stockId": 0,
                                        "quantity": 0
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/Stock/list": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "GetStockList",
                "description": "GetStockList",
                "operationId": "GetStockList",
                "parameters": [
                    {
                        "name": "includeExtId",
                        "in": "query",
                        "description": "If true, resultset wil include extId and rfid location if set. ",
                        "schema": {
                            "enum": [
                                false
                            ],
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "3011": "Example stock Helsingør",
                                    "3012": "Example stock Oslo",
                                    "3013": "Example stock Holstebro",
                                    "3014": "Example stock Lyngby"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/products/{productId}": {
            "get": {
                "tags": [
                    "Products(CRUD)"
                ],
                "summary": "GetProduct",
                "description": "GetProduct",
                "operationId": "getproduct",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "You can use an extId value here instead if those suites your integration better. ",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebshopAPI.ViewModels.WebUpdateableProduct"
                                },
                                "example": {
                                    "createProductSpecificSize": true,
                                    "id": "string",
                                    "productid": 0,
                                    "name": "string",
                                    "number": "string",
                                    "variant": "string",
                                    "groupName": "string",
                                    "subgroupName": "string",
                                    "color": "string",
                                    "season": "string",
                                    "brand": "string",
                                    "gender": "string",
                                    "isDiscontinued": true,
                                    "tags": "string",
                                    "price": 0,
                                    "upt": "string",
                                    "description": "string",
                                    "internalDescription": "string",
                                    "isStockProduct": true,
                                    "pictureRef": "string",
                                    "isWebAvailable": true,
                                    "sizeSystem": "string",
                                    "productSizes": [
                                        {
                                            "identity": "string",
                                            "gtin": "string",
                                            "label": "string",
                                            "stockQty": [
                                                {
                                                    "stockId": 0,
                                                    "qty": 0
                                                }
                                            ],
                                            "product": {
                                                "productid": 0,
                                                "name": "string",
                                                "number": "string",
                                                "variant": "string",
                                                "groupName": "string",
                                                "subgroupName": "string",
                                                "color": "string",
                                                "season": "string",
                                                "brand": "string",
                                                "gender": "string",
                                                "isDiscontinued": true,
                                                "tags": "string",
                                                "price": 0,
                                                "upt": "string",
                                                "description": "string",
                                                "internalDescription": "string",
                                                "isStockProduct": true,
                                                "pictureRef": "string",
                                                "isWebAvailable": true,
                                                "sizeSystem": "string",
                                                "productSizes": [
                                                    {
                                                        "identity": "string",
                                                        "gtin": "string",
                                                        "label": "string",
                                                        "stockQty": [
                                                            {
                                                                "stockId": 0,
                                                                "qty": 0
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "images": [
                                                    "string"
                                                ],
                                                "cost": 0
                                            },
                                            "externalSKU": "string",
                                            "pricelists": [
                                                {
                                                    "currency": "string",
                                                    "pricelistName": "string",
                                                    "pricelistId": 0,
                                                    "price": 0
                                                }
                                            ],
                                            "labelSortIndex": "string",
                                            "identifiers": [
                                                {
                                                    "id": "string",
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    ],
                                    "images": [
                                        "string"
                                    ],
                                    "cost": 0,
                                    "isNoLabel": true
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Products(CRUD)"
                ],
                "summary": "UpdateProduct",
                "description": "Update product attributes on the variant level. \n\nSize system is only possible to update for products without any stockmovements yet. If you have to change sizesystem for a product with stockmovements, the only option is to delete it and create a new one.\n",
                "operationId": "updateproduct",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "You can use an extId value here instead if those suites your integration better. ",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Product group/sub group, brand, season and color attributes will be automatically created if they don't exists.\n\nWhen updating groupName, subGroupName must be included in body as well. ",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebshopAPI.ViewModels.WebUpdateableProduct"
                            },
                            "example": "{\r\n   \"description\":\" \"Our model is 186cm long and is wearing a Medium\",\r\n   \"images\":\" [\r\n       \"https://yourpimsourceurlexample/1\",\r\n       \"https://yourpimsourceurlexample/2\",\r\n       \"https://yourpimsourceurlexample/3\"\r\n    ]\r\n}"
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebshopAPI.ViewModels.WebUpdateableProduct"
                                },
                                "example": {
                                    "createProductSpecificSize": true,
                                    "id": "string",
                                    "productid": 0,
                                    "name": "string",
                                    "number": "string",
                                    "variant": "string",
                                    "groupName": "string",
                                    "subgroupName": "string",
                                    "color": "string",
                                    "season": "string",
                                    "brand": "string",
                                    "gender": "string",
                                    "isDiscontinued": true,
                                    "tags": "string",
                                    "price": 0,
                                    "upt": "string",
                                    "description": "string",
                                    "internalDescription": "string",
                                    "isStockProduct": true,
                                    "pictureRef": "string",
                                    "isWebAvailable": true,
                                    "sizeSystem": "string",
                                    "productSizes": [
                                        {
                                            "identity": "string",
                                            "gtin": "string",
                                            "label": "string",
                                            "stockQty": [
                                                {
                                                    "stockId": 0,
                                                    "qty": 0
                                                }
                                            ],
                                            "externalSKU": "string",
                                            "pricelists": [
                                                {
                                                    "currency": "string",
                                                    "pricelistName": "string",
                                                    "pricelistId": 0,
                                                    "price": 0
                                                }
                                            ],
                                            "labelSortIndex": "string",
                                            "identifiers": [
                                                {
                                                    "id": "string",
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    ],
                                    "images": [
                                        "string"
                                    ],
                                    "cost": 0,
                                    "isNoLabel": true
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Products(CRUD)"
                ],
                "summary": "DeleteProduct",
                "description": "Soft-deletes a product. The product will still be included in revenue reports etc, but marked as deleted in the product catalog and not possible to process in apis, POS etc.",
                "operationId": "deleteproduct",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "You can use an extId value here instead if those suites your integration better. ",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/products": {
            "post": {
                "tags": [
                    "Products(CRUD)"
                ],
                "summary": "CreateProduct",
                "description": "Create a new product on variant level. \n\nRead more about how to populate product master data in the API guide: \nhttps://developer.frontsystems.com/guides/masterdata#nHQrC\n\nUsing extId and productId that already exists in the system will then update that product instead of creating a new one. ",
                "operationId": "createproduct",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Product group/sub group, brand, season and color attributes will be automatically created if they don't exists",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebshopAPI.ViewModels.WebUpdateableProduct"
                            },
                            "example": {
                                "createProductSpecificSize": true,
                                "extId": "M12345600001",
                                "name": "Air Max",
                                "number": "M123456",
                                "variant": "M12345600001",
                                "groupName": "Shoes",
                                "subgroupName": "Sneakers",
                                "color": "Black diamond",
                                "season": "2014",
                                "brand": "Nike",
                                "gender": "ma",
                                "tags": "tag1,tag2,tag3",
                                "price": 0,
                                "description": "Very comfortable shoes made of faux leather.",
                                "isStockProduct": true,
                                "isWebAvailable": true,
                                "productSizes": [
                                    {
                                        "gtin": "5711451121026",
                                        "label": "XL",
                                        "externalSKU": "126456789_XL",
                                        "labelSortIndex": "0,1"
                                    },
                                    {
                                        "gtin": "5711451121033",
                                        "label": "XXL",
                                        "externalSKU": "126456789_XXL",
                                        "labelSortIndex": "0,2"
                                    }
                                ],
                                "images": [
                                    "https://image.com/1234567.jpg"
                                ],
                                "cost": 0,
                                "isNoLabel": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebshopAPI.ViewModels.WebUpdateableProduct"
                                },
                                "example": {
                                    "createProductSpecificSize": false,
                                    "id": "string",
                                    "productid": 0,
                                    "name": "string",
                                    "number": "string",
                                    "variant": "string",
                                    "groupName": "string",
                                    "subgroupName": "string",
                                    "color": "string",
                                    "season": "string",
                                    "brand": "string",
                                    "gender": "string",
                                    "isDiscontinued": false,
                                    "tags": "string",
                                    "price": 0.236729414468195,
                                    "upt": "string",
                                    "description": "string",
                                    "internalDescription": "string",
                                    "isStockProduct": false,
                                    "pictureRef": "string",
                                    "isWebAvailable": false,
                                    "sizeSystem": "string",
                                    "productSizes": [
                                        {
                                            "identity": "string",
                                            "gtin": "string",
                                            "label": "string",
                                            "stockQty": [
                                                {
                                                    "stockId": 0,
                                                    "qty": 0
                                                }
                                            ],
                                            "externalSKU": "string",
                                            "pricelists": [
                                                {
                                                    "currency": "string",
                                                    "pricelistName": "string",
                                                    "pricelistId": 0,
                                                    "price": 0.656752908571708
                                                }
                                            ],
                                            "labelSortIndex": "string",
                                            "identifiers": [
                                                {
                                                    "id": "string",
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    ],
                                    "images": [
                                        "string"
                                    ],
                                    "cost": 0.664763807287789,
                                    "isNoLabel": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Pricelist/cost": {
            "post": {
                "tags": [
                    "Pricelist"
                ],
                "summary": "Cost",
                "description": "Update sales cost for product(s) in a specific StockId. \n\nAlternatively, currency can be used in the body (instead of StockId). This will update the cost for all stocks that use the given currency.",
                "operationId": "5f9fd429e281b51ca6ae5f7c",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Authorization. Apikey can be generated in Front Systems Portal|Admin|Integration users",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "In the price details, either productid (Front Systems internal id on the variant level) or gtin (sku level) can be used. External integrators usually don't have the productid available and should therefor use gtin as identifyer in the price details",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiPricelistCostPostRequest"
                            },
                            "example": {
[...]
